{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav class="navbar my-5 mx-0  navbar-light">
        <a href="{{ url_for('display') }}" class="btn btn-danger mx-3"
            onclick="return confirm('Are you sure you want to go back?');">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </a>
        <h2 class="heading px-3">Admin Master</h2>
    </nav>

    <div class="container h-100 " id="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card">
                    <div class="row g-0">
                        <div class="col d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 ">

                                <form action="{{ url_for('update') }}"
                                    onsubmit="return !!(CheckMobileNumber() & underAgeValidate() & emptyFname() & emptyLname() & emptyUname() & emptyEmail() & emptyAddress()  & emptyCity() & emptyState() & isZipCode())"
                                    enctype="multipart/form-data" method="post">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">Edit Information</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4 profile-img">
                                            {% if account[12] != None %}

                                            <a href="{{ url_for('static', filename='profile/' + account[12] or '')}}"><img
                                                    src="{{ url_for('static', filename='profile/' + account[12] or '')}}"
                                                    class="img-fluid  rounded-circle my-4" width="400" height="400"
                                                    id="edit-image" alt="database-logo"></a>

                                            {% else %}

                                            <img src="{{url_for('static', filename='profile/images2.png')}}"
                                                class="img-fluid  rounded-circle my-4" id="edit-profile" width="400"
                                                height="400" alt="logo">

                                            {% endif %}
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="hidden" name="id" class="form-control form-control-lg"
                                            value="{{account[0] or '' }}" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="hidden" name="userid" class="form-control form-control-lg"
                                            value="{{account[1] or '' }}" />
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">


                                            <div class="form-outline update-label">
                                                <input type="text" name="fname" id="fnm"
                                                    class="form-control form-control-lg" value="{{account[2] or '' }}"
                                                    placeholder="First name" />
                                                <label class="form-label">First Name</label><br>
                                                <span id="fnmmsg" class="error"></span>
                                            </div>


                                            <div class="form-outline update-label">
                                                <input type="text" name="lname" id="lnm"
                                                    class="form-control form-control-lg" value="{{account[3] or '' }}"
                                                    placeholder="Last name" />
                                                <label class="form-label">Last Name</label><br>
                                                <span id="lnmmsg" class="error"></span>
                                            </div>



                                            <div class="form-outline update-label">
                                                <input type="text" name="username" id="unm"
                                                    class="form-control form-control-lg" value="{{account[16] or '' }}"
                                                    readonly />
                                                <label class="form-label">Username</label><br>
                                                <span id="unmmsg" class="error"></span>
                                            </div>


                                            <div class="form-outline update-label">
                                                <input type="text" name="email" id="em"
                                                    class="form-control form-control-lg" value="{{account[15] or '' }}"
                                                    readonly />
                                                <label class="form-label">Email</label><br>
                                                <span id="emailmsg" class="error"></span>
                                            </div>

                                            <div class="form-outline update-label">
                                                <input type="date" name="dob" id="db"
                                                    class="form-control form-control-lg" value="{{account[4] or '' }}"
                                                    placeholder="Date of Birth" />
                                                <label class="form-label">Date Of Birth</label><br>
                                                <span id="bdate" class="error"></span>
                                            </div>

                                            <div class="form-outline update-label">
                                                {% if account[13] != None %}
                                                <a href="{{ url_for('static', filename='uploads/' + account[13] or '') }}"
                                                    download><input type="text" class="form-control form-control-lg"
                                                        value="{{account[13] or '' }}" readonly></a>
                                                {% else %}
                                                <input type="text" class="form-control form-control-lg"
                                                    value="No file choosen" readonly>
                                                {% endif %}
                                                <label class="form-label">Birth-Certificate</label><br>

                                            </div>



                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-outline form-mobile">
                                                <input type="tel" name="mobile" placeholder="Mobile no." id="mo_no"
                                                    class="form-control form-control-lg"
                                                    value="{{account[5] or '' }}" />
                                                <label class="form-label">Mobile Number</label><br>
                                                <span id="msg" class="error"></span>
                                            </div>




                                            <div class="form-group gender-group">
                                                <label class="form-label form-gender">Gender</label>
                                                <input name="gender" type="radio" value="male" id="m"
                                                    class="mx-2" />Male
                                                <input name="gender" type="radio" value="female" id="f"
                                                    class="mx-2" />Female
                                                <span id="sel" hidden>{{account[6] or '' }}</span>


                                            </div>


                                            <div class="form-outline form-address">
                                                <input type="text" name="address" id="add"
                                                    class="form-control form-control-lg" value="{{account[7] or '' }}"
                                                    placeholder="Address" />
                                                <label class="form-label">Address</label><br>
                                                <span id="addmsg" class="error"></span>
                                            </div>

                                            <div class="form-outline update-label">
                                                <input type="text" name="city" id="ct"
                                                    class="form-control form-control-lg" value="{{account[8] or '' }}"
                                                    placeholder="City" />
                                                <label class="form-label">City</label><br>
                                                <span id="ctmsg" class="error"></span>
                                            </div>

                                            <div class="form-outline update-label">
                                                <select id="st" name="state" class="form-control"
                                                    value="{{account[9] or '' }}">
                                                    <option value="{{account[9] or '' }}" selected>
                                                        {% if account[9] != None %}
                                                        {{account[9] or '' }}
                                                        {% else %}
                                                        Select State
                                                        {% endif %}
                                                    </option>
                                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar
                                                        Islands</option>
                                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                    <option value="Assam">Assam</option>
                                                    <option value="Bihar">Bihar</option>
                                                    <option value="Chandigarh">Chandigarh</option>
                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli
                                                    </option>
                                                    <option value="Daman and Diu">Daman and Diu</option>
                                                    <option value="Delhi">Delhi</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                    <option value="Haryana">Haryana</option>
                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                    <option value="Jharkhand">Jharkhand</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Ladakh">Ladakh</option>
                                                    <option value="Lakshadweep">Lakshadweep</option>
                                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Manipur">Manipur</option>
                                                    <option value="Meghalaya">Meghalaya</option>
                                                    <option value="Mizoram">Mizoram</option>
                                                    <option value="Nagaland">Nagaland</option>
                                                    <option value="Odisha">Odisha</option>
                                                    <option value="Puducherry">Puducherry</option>
                                                    <option value="Punjab">Punjab</option>
                                                    <option value="Rajasthan">Rajasthan</option>
                                                    <option value="Sikkim">Sikkim</option>
                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                    <option value="Telangana">Telangana</option>
                                                    <option value="Tripura">Tripura</option>
                                                    <option value="Uttar Pradeshvv">Uttar Pradesh</option>
                                                    <option value="Uttarakhand">Uttarakhand</option>
                                                    <option value="West Bengal">West Bengal</option>
                                                </select>
                                                <label class="form-label">State</label><br>
                                                <span id="stmsg" class="error"></span>
                                            </div>

                                            <div class="form-outline update-label">
                                                <input type="text" name="zipcode" id="zcode1" placeholder="Zipcode"
                                                    class="form-control form-control-lg"
                                                    value="{{account[10] or '' }}" />
                                                <label class="form-label">Zipcode</label><br>
                                                <span id="zip" class="error"></span>
                                            </div>

                                            <div class="form-outline update-label">
                                                <input type="date" name="profile_updated_date"
                                                    class="form-control form-control-lg " value="{{account[11] or '' }}"
                                                    readonly />
                                                <label class="form-label">Profile-Updated Date</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <input type="submit" class="btn btn-primary btn-lg btn-block btn-submit"
                                            value="Update">
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}